# =====================
# C++ ignore list
# =====================

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# =====================
# emacs ignore list
# =====================
*~
*.desktop
*.desktop.lock
/tools/ecj_pti/src/java/nbproject/private/
/tools/ecj_pti/src/java/dist/
/tools/ecj_pti/src/java/build/